/* для ширины экрана меньше 1820*/
@media screen and (max-width: 1820px){
    .header-top{
        margin-bottom: 40px;
    }
    .header__content-title{
        margin-bottom: 100px;
    }

}
/*для карточек - перстраивам убирая отступы*/
@media screen and (max-width: 1400px){
    .about__item{
        margin: 0;
        margin-bottom: 30px;
    }
    .tour__form{
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .tour__form-input{
        border-right: 1px solid #fff;
        text-align: center;
        margin-bottom: 30px
    }
    .tour__form-btn{
        width: 400px;
        padding: 26px;
    }
    .tour__form-input,
    .tour__form-btn, {
        margin: 20px auto;
    }
}

@media screen and (max-width: 1230px){
    .header__content-title{
        margin-bottom: 50px;
    }
    .menu__list li:not(:last-child){
    padding-right: 40px;
    }
    .title{
        font-size: 36px;
        text-align: center;
        line-height: 66px;
    }
    .header__content-btn{
        padding: 26px 56px;
    }
}

/*секция about - смещаем карточки*/
@media screen and (max-width: 1020px){
    .about__items{
        justify-content: space-around;
    }
    .about{
        padding: 50px 0;
    }
    .about__title::after,
    .about__title::before{
        display: none;
    }
    .footer__inner{
        display: block; /*был flex*/
    }
    .footer__logo,
    .footer__menu-list,
    .footer__info{
        margin-bottom: 30px;
    }

    .footer__icons{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .footer__icon+.footer__icon{
        padding-top: 0px;
        padding-left: 30px;
    }
    .footer__btn{
        max-width:     400px;
        margin: 0 auto;
        padding: 10px;
    }
}
/* при разрешении меньше 930 будет появляться менюшка */
@media screen and (max-width: 930px){
    .menu__btn{
        display: flex;
        position: relative;
    }
    .menu__list{
        /*скрыли строчку с верхним меню */
        display: none;
        position: absolute;
        left: 0;
        top: 200px; /*показали меню*/
        text-align: center;
        width: 100%; /*заливаем экран черным цветом*/
        height: 100%;
        background-color: #000;
        z-index: 1;
    }
    .menu__list li + li{
        padding-left: 0;
    }
    /*показываем меню большими буквами*/
    .menu__list a{
        display: block;
        padding: 50px 30px;
        font-size: 52px;
        font-weight: 700;
    }
}
/* для ширины экрана больше 931px,
    после возвращения размеров, меню может не восстановиться,
    для этого принудительно применяем правило important */
@media (min-width: 931px){
       .menu__list {
           display: flex @important;
           flex-direction: row;
           flex-wrap: wrap;
        }
}


@media screen and (max-width: 768px){
    .title{
        font-size: 26px;
        line-height: 40px;
    }
    .header__content-btn{
        padding: 16px 26px;
    }
    .menu__list a{
        font-size: 32px;
        font-weight: 700;
    }
    /*разместили крнпки соц сетей по под кнопкой -btn*/
    .header__content-icons{
        position: static;
        margin-bottom: 30px;
    }

    .about{
        padding: 60px 0 60px;
    }
    .about__item-title{
        font-size: 20px;
    }
    .about__item-text{
        font-size: 12px;
    }
    .about__items{            /* перестраиваем блоки в колонку */
        display: block;
    }
    .about__item{
        width: 100%;
        margin: 0 0 15px;
    }
    /*перестроили контент и слайдер по центру*/
    .program-slider__item-content {
        flex-direction: column;
        text-align: center
    }
    .program-slider__item-images{
            text-align: center;
            margin: 0 auto;
    }


}
